<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fitness For U</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1 class="dummyTest">Color and Position of header H1</h1>
</body>
</html>
