{{log this}}
<div>
    <h2>Welcome {{name}}</h2>
    <div>
        {{#each exercises}}
        <p>{{exercise_category}}</p>
        <img src="{{href_icon}}" alt="placeholder test">
        {{/each}}
    </div>
</div>
